In [1]:
from collections import Counter
import random
import pandas as pd
import numpy as np
import itertools

In [2]:

def get_data(base_path='BaselineData', connect_type="filesystem"):
    if connect_type == "filesystem":
        print('Loading Data from File System...')
        data_corpus['businessdetails'] = pd.read_csv(base_path+'/Form 2/businessdetails.csv')
        data_corpus['businessidentity'] = pd.read_csv(base_path+'/Form 2/businessidentity.csv')
        data_corpus['manpowerengaged'] = pd.read_csv(base_path+'/Form 2/manpowerengaged.csv')
        data_corpus['business_result'] = data_corpus['businessdetails'].merge(data_corpus['businessidentity'], how='inner')
        
        data_corpus['household'] = pd.read_csv(base_path+'/Form 1/household.csv', low_memory=False)
        data_corpus['household_member'] = pd.read_csv(base_path+'/Form 1/household_member.csv')
        data_corpus['self_employment_seekers'] = pd.read_csv(base_path+'/Form 1/self_employment_seekers.csv')
        data_corpus['unregisteredactivities'] = pd.read_csv(base_path+'/Form 1/unregisteredactivities.csv')
        
        #data_corpus['peur_result'] = data_corpus['household_member'].merge(data_corpus['unregisteredactivities'], how='inner', left_on='uniqueid', right_on='memberid')
        #data_corpus['peu_result'] = data_corpus['household_member'].merge(data_corpus['self_employment_seekers'], how='inner', left_on='uniqueid', right_on='memberid')
        #data_corpus['pee_result'] = data_corpus['household_member'].merge(data_corpus['self_employment_seekers'], how='inner', left_on='uniqueid', right_on='memberid')
        #data_corpus['pee_result'] = data_corpus['pee_result'][data_corpus['pee_result']['pecategory']=='PEE']
        #data_corpus['peu_result'] = data_corpus['peu_result'][data_corpus['peu_result']['pecategory']=='PEU']
        #data_corpus['peur_result'] = data_corpus['peur_result'][data_corpus['peur_result']['pecategory']=='PEUR']

        data_corpus['hoh_member'] = data_corpus['household_member'][data_corpus['household_member']['relationwithhoh'] == 'Self'].copy()
        data_corpus['hoh_member']['trimmed_uniqueid'] = data_corpus['hoh_member']['uniqueidofmember'].str[:13] 
        data_corpus['hoh_result'] = data_corpus['hoh_member'].merge(data_corpus['household'], how='inner', left_on='trimmed_uniqueid', right_on='uniqueidofhousehold')


        #the datasheets finally used
        data_corpus['individual_member'] = data_corpus['household_member'].copy()
        data_corpus['individual_member']['trimmed_uniqueid'] = data_corpus['individual_member']['uniqueidofmember'].str[:13] 
        data_corpus['individual_member_result'] = data_corpus['individual_member'].merge(data_corpus['household'], how='inner', left_on='trimmed_uniqueid', right_on='uniqueidofhousehold')



        data_corpus['peur'] = data_corpus['individual_member_result'].merge(data_corpus['unregisteredactivities'], how='inner', left_on='uniqueid_x', right_on='memberid')
        data_corpus['peur'] = data_corpus['peur'][data_corpus['peur']['pecategory']=='PEUR']

        data_corpus['pee'] = data_corpus['individual_member_result'].merge(data_corpus['self_employment_seekers'], how='inner', left_on='uniqueid_x', right_on='memberid')
        data_corpus['pee'] = data_corpus['pee'][data_corpus['pee']['pecategory']=='PEE']

        data_corpus['peu'] = data_corpus['individual_member_result'].merge(data_corpus['self_employment_seekers'], how='inner', left_on='uniqueid_x', right_on='memberid')
        data_corpus['peu'] = data_corpus['peu'][data_corpus['peu']['pecategory']=='PEU']
        
        print(data_corpus['peur'].shape[0],data_corpus['pee'].shape[0], data_corpus['peu'].shape[0] )


        print('Loading Data: Successful!')
    elif connect_type == "google-drive":
        print('Loading Data from Google Drive!')
        data_corpus['gid_businessidentity'] = '1Fvrds513yknjDtqizSfk60JB_W1G1yjd'
        data_corpus['gid_businessdetails'] = '1ilaexFPOYPHXYNdXRppQh2VEVI9qZv4N'
        data_corpus['gid_manpowerengaged'] = '1rBzz6kNzpBQwvWAj93NXm1h4kaUgXPOd'

        data_corpus['url_businessidentity'] = f"https://drive.google.com/uc?id={data_corpus['gid_businessidentity']}&export=download"
        data_corpus['url_businessdetails'] = f"https://drive.google.com/uc?id={data_corpus['gid_businessdetails']}&export=download"
        data_corpus['url_manpowerengaged'] = f"https://drive.google.com/uc?id={data_corpus['gid_manpowerengaged']}&export=download"

        data_corpus['businessdetails'] = pd.read_csv(data_corpus['url_businessdetails'])
        data_corpus['businessidentity'] = pd.read_csv(data_corpus['url_businessidentity'])  #https://drive.google.com/file/d/1Fvrds513yknjDtqizSfk60JB_W1G1yjd/view?usp=sharing
        data_corpus['manpowerengaged'] = pd.read_csv(data_corpus['url_manpowerengaged'])

        #household
        data_corpus['gid_household'] = '1lD5OvSg9rAvPJR-kas_vn-wn1OatDr_L'
        data_corpus['gid_householdmember'] = '1zA5LjofLFsTsaKJbBKsVhyY8bYs3Pou9'
        data_corpus['gid_self_employment_seekers'] = '1AB8hDJYZy7wQdRX_AKZdZIgiePtkd0d_'
        data_corpus['gid_unregisteredactivities'] = '1Art08hVQ78krap0AWt32RKt37P6tymmX'

        data_corpus['url_household'] = f"https://drive.google.com/uc?id={data_corpus['gid_household']}&export=download"
        data_corpus['url_householdmember'] = f"https://drive.google.com/uc?id={data_corpus['gid_householdmember']}&export=download"
        data_corpus['url_self_employment_seekers'] = f"https://drive.google.com/uc?id={data_corpus['gid_self_employment_seekers']}&export=download"
        data_corpus['url_unregisteredactivities'] = f"https://drive.google.com/uc?id={data_corpus['gid_unregisteredactivities']}&export=download"



        data_corpus['household'] = pd.read_csv(data_corpus['url_household'])
        data_corpus['household_member'] = pd.read_csv(data_corpus['url_householdmember'])  #https://drive.google.com/file/d/1Fvrds513yknjDtqizSfk60JB_W1G1yjd/view?usp=sharing
        data_corpus['self_employment_seekers'] = pd.read_csv(data_corpus['url_self_employment_seekers'])
        data_corpus['unregisteredactivities'] = pd.read_csv(data_corpus['url_unregisteredactivities'])
       
        data_corpus['business_result'] = data_corpus['businessdetails'].merge(data_corpus['businessidentity'], how='inner')
        data_corpus['peur_result'] = data_corpus['household_member'].merge(data_corpus['unregisteredactivities'], how='inner', left_on='uniqueid', right_on='memberid')
        data_corpus['peu_result'] = data_corpus['household_member'].merge(data_corpus['self_employment_seekers'], how='inner', left_on='uniqueid', right_on='memberid')
        data_corpus['pee_result'] = data_corpus['household_member'].merge(data_corpus['self_employment_seekers'], how='inner', left_on='uniqueid', right_on='memberid')
        data_corpus['pee_result'] = data_corpus['pee_result'][data_corpus['pee_result']['pecategory']=='PEE']
        data_corpus['peu_result'] = data_corpus['peu_result'][data_corpus['peu_result']['pecategory']=='PEU']
        data_corpus['peur_result'] = data_corpus['peur_result'][data_corpus['peur_result']['pecategory']=='PEUR']
        print('Loading Data: Successful!')

        ### BUSINESS IDENTITY = https://drive.google.com/file/d/1Fvrds513yknjDtqizSfk60JB_W1G1yjd/view?usp=sharing
        ### MANPOWERENGAGED = https://drive.google.com/file/d/1rBzz6kNzpBQwvWAj93NXm1h4kaUgXPOd/view?usp=sharing
        ### BUSINESS DETAILS = https://drive.google.com/file/d/1ilaexFPOYPHXYNdXRppQh2VEVI9qZv4N/view?usp=sharing
        ###HOUSEHOLD = https://drive.google.com/file/d/1lD5OvSg9rAvPJR-kas_vn-wn1OatDr_L/view?usp=sharing
        ### HOUSEHOLD MEMBER = https://drive.google.com/file/d/1zA5LjofLFsTsaKJbBKsVhyY8bYs3Pou9/view?usp=sharing
        ### SELFWMPLOYEMENT SEEKERS = https://drive.google.com/file/d/1AB8hDJYZy7wQdRX_AKZdZIgiePtkd0d_/view?usp=sharing
        ### UNREGISTERED_ACTIVITIES = https://drive.google.com/file/d/1Art08hVQ78krap0AWt32RKt37P6tymmX/view?usp=sharing




data_corpus = dict()

load_subset = True
if load_subset == True:
    base_path = 'dataset/BaselineDataTest'
else:
    base_path = 'dataset/BaselineData'  

get_data(base_path=base_path)

Loading Data from File System...
4053 9797 14492
Loading Data: Successful!

In [ ]:
data_corpus['peur'] = data_corpus['hoh_member'].merge(data_corpus['household'], how='inner', left_on='trimmed_uniqueid', right_on='uniqueidofhousehold')

In [41]:
filtered_df = data_corpus['individual_member_result'][0:100]

In [54]:
df_hoh_filtered = data_corpus['hoh_result'][data_corpus['hoh_result']['uniqueid_x'].isin(filtered_df['uniqueid_x'])]
df_ilp_filtered = data_corpus['individual_member_result'][data_corpus['individual_member_result']['uniqueidofhousehold'].isin(filtered_df['uniqueidofhousehold'])]
df_peur_filtered = data_corpus['peur'][data_corpus['peur']['uniqueid_x'].isin(filtered_df['uniqueid_x'])]
df_pee_filtered = data_corpus['pee'][data_corpus['pee']['uniqueid_x'].isin(filtered_df['uniqueid_x'])]
df_peu_filtered = data_corpus['peu'][data_corpus['peu']['uniqueid_x'].isin(filtered_df['uniqueid_x'])]

In [61]:
df_peu_filtered.shape[0]

5

In [39]:
for c in list(data_corpus['hoh_result'].columns):
    if c in list(filtered_df.columns):
        print(c)

uniqueid_x
age
annualincome
changepresentwork
educationlevel
employmentstatus
gender
lastname
middlename
name
pecategory
pursuinghighereducation
registeredonudyamportal
relationwithhoh
specialstatus
technicaleducationskill
uniqueidofmember
householdid
trimmed_uniqueid
uniqueid_y
addressoftheenterprise
agriculturelandpossession
annualhouseholdincome
applicationstatus
blockid
cdblockulbmc
district
districtid
geom
headofhousehold
householdsize
householdtype
imagepath
lastnamehead
latitude
locationoftheenterprise
longitude
middlenamehead
observationbyfieldinvestigator
panchayatid
panchayatward
rationcardnumber
residentialtype
responseoffamilyenterprise
schedulenumber
sectoroffamilybusiness
serialnumberofhousehold
socialgroup
surveydonedate
surveystatus
surveyorid
typeoffamilyenterprise
typeofrationcardholder
uniqueidofhousehold
villageufsblock
appversion
surveystatusverifiedby
surveystatusverifieddate
updateddate
headofhouseholdmobilenumber
remarks
recorduploadedmode

In [40]:
data_corpus['hoh_result']['uniqueidofhousehold']

0         RKIS090080007
1         RBAR260210002
2         RPUL020010004
3         RJAM010040003
4         RPUL070050001
              ...
133120    RRAM090040081
133121    RANA160030034
133122    RUDH170470068
133123    RKUP080040053
133124    RJAM070030008
Name: uniqueidofhousehold, Length: 133125, dtype: object

In [20]:
data_corpus['peur']['uniqueid_x']

0       349355
1       349558
2          629
3       349729
4          658
         ...
4089    643810
4090    643828
4091    644231
4092    644434
4093    644891
Name: uniqueid_x, Length: 4053, dtype: int64

In [16]:
data_corpus['hoh_result'][data_corpus['hoh_result']['uniqueid_x'].isin(temp['uniqueid_x'])]

,uniqueid_x,age,annualincome,changepresentwork,educationlevel,employmentstatus,gender,lastname,middlename,name,...,typeofrationcardholder,uniqueidofhousehold,villageufsblock,appversion,surveystatusverifiedby,surveystatusverifieddate,updateddate,headofhouseholdmobilenumber,remarks,recorduploadedmode
38,115,32Y 0M,Below 2 lakh,Yes,Secondary,Working as casual wage labour,Male,KUMAR,NaN,RAVI,...,PHH- Priority House hold,RKAT120180002,SAHAR,1.0.0,NaN,NaN,NaN,7.298355e+09,NaN,NaN
175,349753,37Y 5M,Below 2 lakh,Yes,Secondary,Working as casual wage labour,Male,SHAH,AHMAD,IRSHAD,...,PHH- Priority House hold,RGAN010030019,BABAWAYIL,1.0.0,NaN,NaN,NaN,8.082120e+09,NaN,NaN
212,350103,33Y 0M,Below 2 lakh,Yes,Graduate,Working as helper in Household enterprise (unp...,Male,AHMAD,NaN,MEHMOOD,...,PHH- Priority House hold,RKUP220030027,CHAMKOTE,1.0.0,NaN,NaN,NaN,NaN,NaN,NaN
491,350921,30Y 2M,Below 2 lakh,Yes,Secondary,Working as helper in Household enterprise (unp...,Male,BHAT,AHMAD,IMTIYAZ,...,PHH- Priority House hold,RKUP210090059,MANZGAM,1.0.0,NaN,NaN,NaN,9.797983e+09,NaN,NaN
533,351362,35Y 0M,No Annual Income,Yes,Postgraduate and above,Working as helper in Household enterprise (unp...,Male,LONE,AHMAD,ZAHOOR,...,AAY – Antyodhya Anna Yojana,RKUL030170005,WARIPORA,1.0.0,NaN,NaN,NaN,9.103283e+09,NaN,NaN
572,2530,39Y 0M,Below 2 lakh,Yes,Higher secondary,Working as regular salaried/ wage employee in ...,Male,C,B,A,...,NPHH- Non Priority Household,UANA050090001,NaN,1.0.0,NaN,NaN,NaN,9.622739e+09,NaN,NaN
618,351504,32Y 0M,No Annual Income,Yes,Secondary,Working as helper in Household enterprise (unp...,Male,PAYER,RAJA,ALTAF,...,PHH- Priority House hold,RKUP160020016,BOWAN,1.0.0,NaN,NaN,NaN,NaN,NaN,NaN
666,351699,37Y 0M,Below 2 lakh,Yes,Secondary,Working as casual wage labour,Male,KUMAR,NaN,KULDEEP,...,No ration card,RSAM050030008,MADOON,1.0.0,NaN,NaN,NaN,6.006783e+09,NaN,NaN
805,352302,29Y 0M,Below 2 lakh,Yes,Higher secondary,Working as helper in Household enterprise (unp...,Male,NAWAZ,NaN,SHAH,...,PHH- Priority House hold,RREA070040035,BATHOIE,1.0.0,NaN,NaN,NaN,8.082641e+09,NaN,NaN
876,424794,35Y 3M,Below 2 lakh,Yes,Higher secondary,Working as casual wage labour,Male,BHAT,MUSTAFA,GH,...,PHH- Priority House hold,RKUP010080009,DRUGMULLA,1.0.0,NaN,NaN,NaN,9.541168e+09,NaN,NaN
950,352895,35Y 0M,Below 2 lakh,Yes,Secondary,Working as casual wage labour,Male,NAJAR,AHMAD,BILAL,...,PHH- Priority House hold,RBAR210050035,DRUROO,1.0.0,NaN,NaN,NaN,9.149469e+09,NaN,NaN
1068,353159,33Y 0M,Above 4-6 lakh,Yes,Higher secondary,Working as regular salaried/ wage employee in ...,Male,MANDLA,NaN,VISHAL,...,NPHH- Non Priority Household,RSAM060120013,MAHAL SHAHAN,1.0.0,NaN,NaN,NaN,9.541382e+09,NaN,NaN

In [66]:
filtered_df = data_corpus['hoh_result']

In [67]:
filtered_df

,uniqueid_x,age,annualincome,changepresentwork,educationlevel,employmentstatus,gender,lastname,middlename,name,...,typeofrationcardholder,uniqueidofhousehold,villageufsblock,appversion,surveystatusverifiedby,surveystatusverifieddate,updateddate,headofhouseholdmobilenumber,remarks,recorduploadedmode
0,349185,45Y 0M,Above 2- 4 lakh,No,Secondary,Working as regular salaried/ wage employee / c...,Female,MALA,NaN,ROOP,...,NPHH- Non Priority Household,RKIS090080007,MASSU WARD C,1.0.0,NaN,NaN,NaN,8.082105e+09,NaN,NaN
1,8,50Y 0M,Below 2 lakh,No,Higher secondary,Working in Household enterprise (self-employed...,Male,DAR,AHMAD,SAJAD,...,PHH- Priority House hold,RBAR260210002,WARPORA,1.0.0,NaN,NaN,NaN,7.006241e+09,NaN,NaN
2,15096,65Y 0M,No Annual Income,No,Illiterate,Working as helper in Household enterprise (unp...,Male,LONE,MOHIDIN,GH,...,No ration card,RPUL020010004,BARSOO,1.0.0,NaN,NaN,NaN,9.906839e+09,NaN,NaN
3,15173,49Y 5M,No Annual Income,No,Illiterate,Working as helper in Household enterprise (unp...,Female,DEVI,NaN,CHANCHAL,...,AAY – Antyodhya Anna Yojana,RJAM010040003,BOMAL,1.0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,26,46Y 6M,Above 6-8 lakh,No,Postgraduate and above,Working as regular salaried/ wage employee / c...,Male,BHAT,AHMAD,SHABIR,...,NPHH- Non Priority Household,RPUL070050001,HUNIPORA,1.0.0,NaN,NaN,NaN,7.006709e+09,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133120,644856,63Y 9M,Above 2- 4 lakh,No,Secondary,"Rentiers, pensioners, remittance recipients, etc.",Male,KATOCH,DASS,HARI,...,NPHH- Non Priority Household,RRAM090040081,SILLY,1.0.0,NaN,NaN,NaN,8.492036e+09,NaN,NaN
133121,644891,40Y 0M,Below 2 lakh,No,Illiterate,Self-employed in any unregistered activity,Male,GANIE,AHMAD,ISHFAQ,...,PHH- Priority House hold,RANA160030034,FURRAH,1.0.0,NaN,NaN,NaN,9.906788e+09,NaN,NaN
133122,644899,75Y 0M,No Annual Income,No,Illiterate,Attending domestic duties/or and also engaged ...,Male,RAJ,NaN,DES,...,PHH- Priority House hold,RUDH170470068,NARORE,1.0.1,NaN,NaN,NaN,8.493956e+09,NaN,NaN
133123,644871,56Y 8M,No Annual Income,No,Illiterate,Working as helper in Household enterprise (unp...,Female,BEGUM,NaN,ZAREEFA,...,PHH- Priority House hold,RKUP080040053,BUNGAM,1.0.0,NaN,NaN,NaN,9.541665e+09,NaN,NaN
133124,644876,55Y 0M,Below 2 lakh,No,Illiterate,Working as casual wage labour,Male,SINGH,NaN,LEHAR,...,PHH- Priority House hold,RJAM070030008,CHHURTA,1.0.0,NaN,NaN,NaN,9.541854e+09,NaN,NaN

In [68]:
data_corpus['individual_member_result']

,uniqueid_x,age,annualincome,changepresentwork,educationlevel,employmentstatus,gender,lastname,middlename,name,...,typeofrationcardholder,uniqueidofhousehold,villageufsblock,appversion,surveystatusverifiedby,surveystatusverifieddate,updateddate,headofhouseholdmobilenumber,remarks,recorduploadedmode
0,349185,45Y 0M,Above 2- 4 lakh,No,Secondary,Working as regular salaried/ wage employee / c...,Female,MALA,NaN,ROOP,...,NPHH- Non Priority Household,RKIS090080007,MASSU WARD C,1.0.0,NaN,NaN,NaN,8.082105e+09,NaN,NaN
1,349186,19Y 0M,No Annual Income,No,Higher secondary,Attending educational institution,Female,PARIHAR,NaN,SURBHI,...,NPHH- Non Priority Household,RKIS090080007,MASSU WARD C,1.0.0,NaN,NaN,NaN,8.082105e+09,NaN,NaN
2,349187,16Y 9M,No Annual Income,No,Secondary,Attending educational institution,Male,PARIHAR,NaN,ASHISH,...,NPHH- Non Priority Household,RKIS090080007,MASSU WARD C,1.0.0,NaN,NaN,NaN,8.082105e+09,NaN,NaN
3,349188,15Y 9M,No Annual Income,No,Middle,Attending educational institution,Male,PARIHAR,NaN,AYUSH,...,NPHH- Non Priority Household,RKIS090080007,MASSU WARD C,1.0.0,NaN,NaN,NaN,8.082105e+09,NaN,NaN
4,15063,45Y 0M,No Annual Income,No,Illiterate,Working as helper in Household enterprise (unp...,Female,BEGIUM,NaN,SHAMEEMA,...,PHH- Priority House hold,RBAR050080020,PINJOORA,1.0.0,NaN,NaN,NaN,8.493073e+09,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
643374,644880,25Y 0M,Below 2 lakh,Yes,Middle,Working as casual wage labour,Male,SINGH,NaN,SWARN,...,PHH- Priority House hold,RJAM070030008,CHHURTA,1.0.0,NaN,NaN,NaN,9.541854e+09,NaN,NaN
643375,644881,23Y 0M,No Annual Income,No,Graduate,Attending educational institution,Female,DEVI,NaN,SUNEHA,...,PHH- Priority House hold,RJAM070030008,CHHURTA,1.0.0,NaN,NaN,NaN,9.541854e+09,NaN,NaN
643376,644882,20Y 0M,No Annual Income,No,Secondary,Attending educational institution,Female,DEVI,NaN,SAPNA,...,PHH- Priority House hold,RJAM070030008,CHHURTA,1.0.0,NaN,NaN,NaN,9.541854e+09,NaN,NaN
643377,644883,7Y 0M,NaN,NaN,Below primary,NaN,Male,SINGH,NaN,KARTIK,...,PHH- Priority House hold,RJAM070030008,CHHURTA,1.0.0,NaN,NaN,NaN,9.541854e+09,NaN,NaN
643378,644884,4Y 0M,NaN,NaN,NaN,NaN,Male,SINGH,NaN,DEEPAK,...,PHH- Priority House hold,RJAM070030008,CHHURTA,1.0.0,NaN,NaN,NaN,9.541854e+09,NaN,NaN

In [2]:
df = pd.read_csv('./dataset/BaselineDataNew/individual_member_result.csv')

/var/folders/l0/g6vr8x896mz4b34d854r6xth0000gn/T/ipykernel_7501/1502886379.py:1: DtypeWarning: Columns (9,25) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./dataset/BaselineDataNew/individual_member_result.csv')

In [7]:
df.head()

,uniqueid,householdid,uniqueidofmember,pecategory,residentialtype,districtid,district,blockid,cdblockulbmc,panchayatid,...,age,gender,specialstatus,educationlevel,technicaleducationskill,employmentstatus,changepresentwork,registeredonudyamportal,annualincome,pursuinghighereducation
0,4477722,952933,RBAR140130260M2,NaN,Rural,3,Baramulla,14,Pattan,13,...,36Y 1M,Male,No,Middle,No technical education,Working as casual wage labour,No,NaN,Below 2 lakh,No
1,4477723,952933,RBAR140130260M3,NaN,Rural,3,Baramulla,14,Pattan,13,...,13Y 2M,Male,No,Middle,NaN,NaN,NaN,NaN,NaN,NaN
2,4477724,952933,RBAR140130260M4,NaN,Rural,3,Baramulla,14,Pattan,13,...,10Y 1M,Female,No,Primary,NaN,NaN,NaN,NaN,NaN,NaN
3,4477725,952933,RBAR140130260M5,NaN,Rural,3,Baramulla,14,Pattan,13,...,1Y 9M,Male,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4478861,953187,UKUL030090163M1,PEUR,Urban,10,Kulgam,3,Frisal Municipal Committee,9,...,41Y 4M,Male,No,Primary,Learned skilled by doing without formal training,Self-employed in any unregistered activity,No,NaN,Below 2 lakh,NaN

In [9]:
df['uniqueid'].count()

11342976

In [11]:
len(df['uniqueid'].unique())

11147746

In [13]:
len(df['householdid'].unique())

2412510

In [14]:
df['householdid'].value_counts()

householdid
706901     88
706696     88
708007     88
707530     56
708071     56
           ..
164975      1
1936874     1
698953      1
1673262     1
117303      1
Name: count, Length: 2412510, dtype: int64

In [15]:
df_h = pd.read_csv('./dataset/BaselineDataNew/hoh_result.csv')

/var/folders/l0/g6vr8x896mz4b34d854r6xth0000gn/T/ipykernel_7501/2891597098.py:1: DtypeWarning: Columns (9,25) have mixed types. Specify dtype option on import or set low_memory=False.
  df_h = pd.read_csv('./dataset/BaselineDataNew/hoh_result.csv')

In [16]:
df_h.columns

Index(['uniqueid', 'householdid', 'uniqueidofmember', 'pecategory',
       'residentialtype', 'districtid', 'district', 'blockid', 'cdblockulbmc',
       'panchayatid', 'panchayatward', 'villageufsblock', 'headofhousehold',
       'middlenamehead', 'lastnamehead', 'householdsize', 'householdtype',
       'agriculturelandpossession', 'responseoffamilyenterprise',
       'typeoffamilyenterprise', 'locationoftheenterprise',
       'addressoftheenterprise', 'socialgroup', 'annualhouseholdincome',
       'typeofrationcardholder', 'rationcardnumber', 'uniqueidofhousehold',
       'headofhouseholdmobilenumber', 'name', 'middlename', 'lastname',
       'relationwithhoh', 'age', 'gender', 'specialstatus', 'educationlevel',
       'technicaleducationskill', 'employmentstatus', 'changepresentwork',
       'registeredonudyamportal', 'annualincome', 'pursuinghighereducation'],
      dtype='object')

In [17]:
df_h['uniqueid'].count()

2427780

In [71]:
len(df_h['uniqueidofmember'].unique())

2365391

In [73]:
df_h['uniqueidofhousehold'].count()

2427780

In [74]:
len(df_h['uniqueidofhousehold'].unique())

2346628

In [30]:
df_h[df_h['pecategory']=='PEUR'].shape

(30982, 42)

In [42]:
df_h[df_h['pecategory']=='PEE']['uniqueidofhousehold'].value_counts()

uniqueidofhousehold
RREA010030288    16
UANA090050084    12
RDOD130020596    12
UJAM010390848     9
RKIS030110225     9
                 ..
RDOD130110350     1
UBUD040010121     1
RREA040030404     1
RDOD020280072     1
RRAJ150160251     1
Name: count, Length: 28583, dtype: int64

In [66]:
len(df_h[df_h['pecategory']=='PEUR']['uniqueidofhousehold'].unique()), len(df_h[df_h['pecategory']=='PEE']['uniqueidofhousehold'].unique()), len(df_h[df_h['pecategory']=='PEU']['uniqueidofhousehold'].unique())

(30179, 28583, 38528)

In [70]:
len(df_h['uniqueidofhousehold'].unique())

2346628

In [65]:
df_h['pecategory'].iloc[0] == np.nan

False